@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    min-height: 100vh; 
}

#dashboard-container {
    height: 100vh;
    display: grid;
    grid-template: 1.5fr 5fr / 1.5fr 5fr;
    grid-template-areas:
    "sidebar header"
    "sidebar content";
    font-family: 'Roboto', sans-serif;
}

#header-container {
    grid-area: header;
    z-index: 1;
    box-shadow: 0px 4px 4px #d1d5db;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

#search, #user, #greeting, #buttons {
    display: flex;
}

#search {
    
}

#search-bar {
    border-radius: 10px;
    background-color: #e5e7eb;
    height: 25%;
    width: 100%;
}

#user {
    
}

#greeting {
    
}

#buttons {
    gap: 10%;
}

button {
    border-radius: 20px;
    padding: 8px 24px;
    height: 40%;
}

#sidebar-container {
    grid-area: sidebar;
    background-color: #0ea5e9;
    color: white;
    display: grid;
    grid-template-rows: 1.5fr 2fr 1.5fr 3fr;
    padding-left: 10%;
    padding-top: 5%;
}

#content-container {
    grid-area: content;
    background-color: #e5e7eb;
}

#dashboard {
    font-size: 32px;
    display: flex;
    gap: 20px;
    align-items: center;
}

#navigation, #branding {
    font-size: 20px;
    margin-top: 10%;
}

li {
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

li > p {
    display: inline;
}